body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.about_this_website {
  text-align: center;
  margin-top: 40px;
}

div.container-m {
  margin-top: 80px;
}

